<html>
<head>
<title>iMagine</title>
<link rel="stylesheet" type="text/css" href="../stylesheet/splashStyle.css" media="all">

</head>


<body id="splash_body">
	<img src="appathonlogo.jpg" id="logo" alt="iMagine">
	<div id = "pitch_container">
		<h3> A Platform to Make Your Idea Heard </h3>
		<p> Submit ideas, give feedback, start a discussion, and help keep Agilex ahead of the competition with enterprising and inventive new suggestions </p>
	</div>

	<div id="login_container">
		<form id="login_form"> 
			
			<label>Username: </label><input type="text" id = "username" name="username"> <br>
			<label>Password: </label><input type="password" id = "password" name = "password"> <br>
			<input type="submit" id="submit" name="Log In">

		</form>
		<a href ="createaccount.html"> Create an Account </a>

	</div>


</body>
</html>